body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: thistle;
    text-align: center;
}
.header{
    background-color: purple;
    color: lavender;
    text-align: center;
    padding: 30px 10px;
}
.header h1{
    margin: 0;
    font-size: 3em;
    color: lavender;
}
.header{
    margin: 0;
    font-size: 1.2em;
}
a{
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: 3px solid purple
}
input[type="email"] {
  width: 200px;
  padding: 10px;
  border: 3px solid purple;
  border-radius: 5px;
  font-size: 16px;

}
input[type="password"] {
  width: 200px;
  padding: 10px;
  border: 3px solid purple;
  border-radius: 5px;
  font-size: 16px;
}
label {
    font-size: 25px;
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.conteiner {
    background-color: rgb(212, 157, 212);
    text-align: center;
    align-items: center;
    margin:150px auto;
    padding: 20px;
    width: 600px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    height: 350px;
    border-radius: 15px;
    border: 3px solid purple;
    
}
.footer{
    background-color: purple;
    color: lavender;
    text-align: center;
    padding: 30px 10px;
    margin: 0;
    font-size: 1.2em;
    margin-top: 250px;
}