body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: thistle;
    text-align: center;
}
.header{
    background-color: purple;
    color: lavender;
    text-align: center;
    padding: 30px 10px;
    margin: 0;
    font-size: 1.2em;
    margin-bottom: 60px;
}
.header h1{
    margin: 0;
    font-size: 4em;
    color: lavender;
}
.opcoes {
    margin: 0;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.opcao {
    background-color: white;
    color: black;
    padding: 15px;
    text-align: center;
    width: 150px;
    border: 2px solid purple;
    border-radius: 8px;
}
.opcao h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.botao {
    display: block;
    background-color: purple;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: transform 0.2s ease;
    border: 8px;
    border-radius: 8px;
}
.botao:hover {
    transform: scale(1.05);
    filter: brightness(0.9); 
}
.footer {
    background-color: purple;
    color: lavender;
    text-align: center;
    padding: 30px 10px;
    margin: auto 0;
    font-size: 1.2em;
    margin-top: 60px;
}


